.change-topic {
    transition: opacity 0.5s ease-in-out; /* Adjust the duration and easing as needed */
  }
  
  .change-topic.out {
    opacity: 0;
  }
  
  @media (max-width: 600px) {
    /* Adjust the height for smaller screens */
    .your-image-class {
      height: auto; /* or set a different height value */
    }
  }